# Sales Analysis

### Importing Necessary Libraries:

In [5]:
import pandas as pd
import os

#### Task 1 : Merging 12 months of sales data in one

In [34]:
#Dont Run this as there is NaN values and i corrected it in .csv file which is updated

#files = [ i for i in os.listdir('./Sales_Data')]

#all_months_data = pd.DataFrame()

#for i in files:
    #df = pd.read_csv('./Sales_Data/' + i)
    #all_months_data = pd.concat( [all_months_data , df] )

#all_months_data.to_csv('all_months_data.csv', index = False)

### Read In Updated Dataframe

In [35]:
all_data = pd.read_csv('all_months_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [36]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186849 entries, 0 to 186848
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

### Clean Up the Data !!

In [41]:
all_data.isna().sum()

Order ID            544
Product             544
Quantity Ordered    544
Price Each          544
Order Date          544
Purchase Address    544
Month               544
dtype: int64

### Augment Data with Additional Coulumns

In [37]:
# Adding the Months Column
all_data['Month'] = all_data['Order Date'].str[0:2] 
all_data['Month'] = all_data['Month'].astype('int32')
all_data

ValueError: cannot convert float NaN to integer

#### Question 1 : What was the best month for the sales? How much was earned that month ?